/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END of CSS browser compatibility */





body {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	margin:0;
	padding:0;
}

img {
	/*width: 100%;*/
}
 
.container {
	margin:auto;
}

/* COMMON CLASSES */
.primary-text {
	color:#dda625;
}

.primary-background {
	background: #dda625;
}

.replace-black {
	color:#1f3a6a;
	font-size: 30px;
	text-transform: uppercase;
}

.primary-text-title {
	font-size: 30px;
	color:#dda625;
	text-transform: uppercase;
	font-weight: bold;
}

/* HEADER */
#main-header {
	border-bottom: 1px solid #dda625;
	font-weight: 900;
}

.logo{
	float:left;
}

/* NAVBAR */
#navbar {
	text-transform: uppercase;
}

#navbar li {
	display: inline;
	padding-right:20px;
	list-style: none;
	/*font-family: 'Permanent Marker', cursive;*/
}

#navbar a {
	text-decoration: none;
	color: #888;
}

#navbar li.current a, #navbar a:hover {
	color: #dda625;
	border-bottom: 3px solid #dda625;
	padding-bottom: 3px;
}

/* SHOWCASE */
#showcase {
	background:url("../images/showcase.jpg") no-repeat center center;
	background-attachment: fixed;
	border-bottom: 1px solid #dda625;
	margin-bottom: 30px;
}

#showcase .row {
	height:600px;
}

#showcase h1 {
	font-size: 65px;
	margin:0;
	padding-bottom: 20px;
	line-height: 50px;	
	/*font-family: 'Quattrocento Sans', sans-serif;*/
}

#showcase p {
	color:#000;
	margin:0;
}

#showcase .showcase-content {
	/*background: rgba(51, 51, 51, 0.7);*/
	color:#fff;
	/*border-radius:40px;*/
	/*padding: 20px;*/
}

/* SKILLS */
#skills{
	border-bottom: 1px solid #dda625;
	padding-bottom: 30px;
	/*font-family: 'Quattrocento Sans', sans-serif;*/
}

#skills h2{
	font-size: 35px;
	margin:0;
	padding-bottom:30px;
	text-transform: uppercase;
	color:#1f3a6a;
}

#skills p{
	/*font-family: 'Quattrocento Sans', sans-serif;*/
	color:#888;
	margin:0;
	padding-bottom:40px;
}

#skills h4{
	color:#1f3a6a;
}

#skills .fa{
	font-size: 60px;
	color:#dda625;
}



/* PROJECTS */
#projects{
	background:url("../images/info-bg.jpg") no-repeat;
	border-bottom: 1px solid #dda625;
	background-attachment: fixed;
	color: #fff;
	/*padding-top: 10px;
	padding-bottom:30px;
	padding-left: 30px;
	padding-right: 10px;*/
	padding: 10px 10px 30px 30px;
}


#projects h2 {
	font-size:35px;
	margin:10;
	padding: 20px 0;
	text-transform: uppercase;
}

#projects ul{
	list-style: none;
	padding:0; 
}

#projects li{
	line-height: 2em;
	font-size: 20px;
}






/* CONTACT */
#contact {
	padding-top: 20px;
	background: #333;
	color: white;
}

#contact h4{
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size:35px;
}

#contact ul {
	padding:0;
	list-style: none;
	line-height: 2em;	
}

#contact .fa{
	color:white;
	font-size: 20px;
}

#contact .fa-linkedin {
	font-size: 40px;
}

#contact .fa-github{
	font-size: 40px;
}

#contact .fa:hover {
	color:#dda625;
}

#contact a {
	color: white;
	text-decoration: none;
}

.fa-wrapper{
	display:flex;
	justify-content: center;
	padding-bottom: 10px;
}

.fa1 {
  padding-right: 5px;
}
.fa2 {
  padding-left: 5px;
}



/* FOOTER */
#main-footer{
	font-size: 12px;
	background:#dda625;
	color: #fff;
	line-height: 5px;
	padding: 10px 0;
}

#main-footer .fa-heart{
	color:#b485ab;
}


/* PAGE */
#page{
	margin-bottom: 40px;
}




/* MEDIA QUERIES */
@media(max-width: 800px) {
	#showcase h1 {
		font-size: 50px;
	}
}

@media(max-width: 500px) {
	#showcase .showcase-content {
		padding: 40px 10px;
	}
}